@import "bootstrap-sprockets";
@import "bootstrap";



.film-icon{
	}

.btn{
	background-color:  #4da6ff;
	background-size: 100px 100px;
	border-radius: 25px;
	}

.glyphicon, .my_sbtn{
	
}
.glyphicon_ok, .my_sbtn2{
	
}
.my_sbtn{
	
}
.my_sbtn2,
{
	
}
.panel-body_custom
{
	height : 100px;
	weight : 100px;
	col : 100px;
}