<div class="jumbotron">
  <h1>HUMAGNET, world!</h1>
  <p>if you want to start human's networld click 'Learn more'</p>
  <p><a class="btn btn-primary btn-lg" href="/questions" role="button">Learn more</a></p>
</div>