<div class="jumbotron">
  <h1>Woozu, world!</h1>
  <p>if you want to start woozu's networld click 'Learn more'</p>
  <p><a class="btn btn-primary btn-lg" href="/walls" role="button">Learn more</a></p>
</div>